@(form: Form[Application.NewUser])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create New User</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <a href="@routes.Application.index">Back</a>
        <div class="center">

        @helper.form(routes.Application.makeNewUser) {
            <h1>New User</h1>

            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="name" name="name" placeholder="Name" value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" value="=@form("password").value">
            </p>
            <p>
                <button type="submit">Create</button>
            </p>
        }
        </div>
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
    </body>
</html>