@(form: Form[Application.Login])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login to MovieSpin</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="center">
            <a href="@routes.Application.index">Home Page</a>

            @helper.form(routes.Application.authenticate) {
                <h1>Sign in</h1>

                <div class="center">
                    <input class="login-field" type="email" name="email" placeholder="Email" value="@form("email").value">
                </div>
                <br/>
                <div class="center">
                    <input class="login-field" type="password" name="password" placeholder="Password">
                </div>
                <br/>
                <div class="center">
                    <button id="button" type="submit">Login</button>
                </div>
                <br/>
            }

            <a href="@routes.Application.createUser"> <button id="button">New User</button></a>
        </div>
        @if(flash.contains("success")) {
            <p class="success">
            @flash.get("success")
            </p>
        }

        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
    </body>
</html>