@(form: Form[Application.Login])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login to MovieSpin</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="center">
            @helper.form(routes.Application.authenticate) {
                <h1>Sign in to MovieSpin</h1>

                <div class="center">
                    <input class="login-field" type="email" name="email" placeholder="Email" value="@form("email").value">
                </div>
                <br/>
                <div class="center">
                    <input class="login-field" type="password" name="password" placeholder="Password">
                </div>
                <br/>
                <div class="center">
                    <button id="button" type="submit">Login</button>
                </div>
                <br/>
            }

        <a href="@routes.Application.createUser"> <button id="button">New User</button></a>
            @if(flash.contains("success")) {
                <p class="flash success">
                @flash.get("success")
                </p>
            }

            @if(form.hasGlobalErrors) {
                <p class="flash error">
                @form.globalError.message
                </p>
            }
        </div>
    </body>
</html>