@(user: MovieUser)(movie: Movie)

<div class="center">
    @main(movie.title, user) {
        <img src="https://image.tmdb.org/t/p/w500@movie.poster_path" alt="Actor Picture" style="width: 200px;">
        <br/>
        <br/>
        <br/>
        <br/>
        <a href="@routes.Application.movieBackToFavorites(movie.id)"> <button id="like-button-left">Delete Movie</button></a>
        <a href="@routes.Application.movieBackToFavorites(-1)"> <button id="like-button-right">Back</button></a>
    }
</div>