@(user: MovieUser)(likeActors: List[UserFavoriteActor])(likeMovies: List[UserFavoriteMovie])

@main("Your Likes", user) {
    Click on an Actor below to view more information:
<ul>
    @for(actor <- likeActors) {
        <li><a href="@routes.Application.actorDetail(actor.actor.id)">@actor.actor.name</a></li>
    }
</ul>

    Click on a Movie below to view more information:
<ul>
    @for(movie <- likeMovies) {
        <li><a href="@routes.Application.movieDetail(movie.movie.id)">@movie.movie.title</a></li>
    }
</ul>

}
