@(user: MovieUser)(likeActors: List[UserFavoriteActor])(likeMovies: List[UserFavoriteMovie])

<div class="center">
    @main("Your Likes", user) {

        Click on a Movie below to view more information:
        <br/>
        <br/>
        <br/>
        @for(movie <- likeMovies) {
            <div id="prev-recs">
                <img src="https://image.tmdb.org/t/p/w500@movie.movie.poster_path" alt="Movie Picture" style="width: 200px;">
                <br/>
                <a href="@routes.Application.movieDetail(movie.movie.id)">@movie.movie.title</a>
            </div>
        }
        <br/>
        <br/>
        <br/>
        Click on an Actor below to view more information:
        <br/>
        <br/>
        <br/>
        @for(actor <- likeActors) {
            <div id="prev-recs">
                <img src="https://image.tmdb.org/t/p/w500@actor.actor.imagePath" alt="Actor Picture" style="width: 200px;">
                <br/>
                <a href="@routes.Application.actorDetail(actor.actor.id)">@actor.actor.name</a>
            </div>
        }
    }
</div>