@(user: MovieUser)(likeActors: List[UserFavoriteActor])(likeMovies: List[UserFavoriteMovie])

<div class="center">
    @main("Your Likes", user) {

        <h3>Click on a Movie below to view more information:</h3>
        <br/>
        <br/>
        <br/>
        @for(movie <- likeMovies) {
            <div id="inline-image">
                <a href="@routes.Application.movieDetail(movie.movie.id)">
                    <img src="https://image.tmdb.org/t/p/w500@movie.movie.poster_path" alt="Movie Picture" style="width: 200px;">
                </a>
                <br/>
                <br/>
            </div>
        }
        <br/>
        <br/>
        <br/>
        <h3>Click on an Actor below to view more information:</h3>
        <br/>
        <br/>
        @for(actor <- likeActors) {
            <div id="inline-image">
                <a href="@routes.Application.actorDetail(actor.actor.id)">
                    <img src="https://image.tmdb.org/t/p/w500@actor.actor.imagePath" alt="Actor Picture" style="width: 200px;">
                </a>
                <br/>
                <a href="@routes.Application.actorDetail(actor.actor.id)">@actor.actor.name</a>
            </div>
        }
    }
</div>